option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: core.wsgi:application

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: core.settings
    DB_ENGINE: postgresql

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles

  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health/
    MatcherHTTPCode: 200

packages:
  yum:
    libpq-devel: []

container_commands:
  01_collectstatic:
    command: |
      source $(ls -t /var/app/venv/*/bin/activate | head -1)
      python manage.py collectstatic --noinput
    leader_only: true

  02_migrate:
    command: |
      source $(ls -t /var/app/venv/*/bin/activate | head -1)
      python manage.py migrate --noinput
    leader_only: true
