container_commands:
  01_migrate:
    command: |
      ENV_FILE=$(mktemp)
      /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > "$ENV_FILE"
      chmod 600 "$ENV_FILE"
      source "$ENV_FILE"
      rm "$ENV_FILE"
      source /var/app/venv/*/bin/activate
      python manage.py migrate --noinput
    leader_only: true
